:root {
    --greenish: #20c997;
}

body {
    margin             : 0px;
    /* background-color: firebrick; */
    height             : 5000px;
    font-family        : "Poppins", sans-serif;
    text-align         : center;
}

button {
    font-size: 16px;
    padding  : 15px 40px;
    border   : var(--greenish) solid;
    color    : white;
}

a {
    text-decoration: none;
    color          : white;
}

ul {
    list-style: none;
    text-align: left;
    padding   : 0px;
}

h3 span {
    color: var(--greenish);
}

.width85 {
    width : 85%;
    margin: auto;
}


/* landing section start */
.landing {
    height             : 100vh;
    position           : relative;
    background-image   : linear-gradient(rgba(17, 20, 24, 0.8), rgba(17, 20, 24, 0.8)), url(/src/intro-bg.jpg);
    background-size    : cover;
    background-position: center 0 px;
}

.landing-nav {
    display         : flex;
    align-items     : center;
    justify-content : left;
    padding         : 20px;
    width           : 100%;
    box-sizing      : border-box;
    position        : fixed;
    background-image: linear-gradient(rgba(17, 20, 24, 0.8), rgba(17, 20, 24, 0.8));
}

.landing-nav ul {
    list-style     : none;
    display        : flex;
    justify-content: center;
    align-items    : center;
    position       : absolute;
    left           : 50%;
    padding        : 0px;
    transform      : translateX(-50%);
}

.landing-nav ul {
    color: var(--greenish);
}

/* problem it does not apply to the element in li>a */

.landing-nav ul li {
    padding    : 10px 18px;
    font-weight: 400;
    font-size  : 16px;
}

.landing-nav ul li a:hover {
    color: var(--greenish);
}

.landing-info {
    display        : flex;
    text-align     : center;
    height         : 100vh;
    justify-content: center;
    align-items    : center;
    font-size      : larger;
    color          : white;
}

.landing-info h3 {
    font-size  : 28px;
    font-weight: 500;
}

.landing-info h1 {
    font-size  : 64px;
    font-weight: 600;
    margin     : 30px;
}

.landing-info p {
    font-size  : 21px;
    font-weight: 400;
}

.landing-info button {
    font-size       : 16px;
    font-weight     : 500;
    border-radius   : 25px;
    padding         : 15px 40px;
    background-color: transparent;
    border          : var(--greenish) solid;
    color           : var(--greenish);
}

.landing-info button:hover {
    background-color: var(--greenish);
    color           : white;
    transition      : all 0.5s ease-in-out;
}

/* problem when hover out the effect is not done instantaneously */


/* landing section end */

/* about section start */
.about {
    padding: 40px 0px;
    padding: 4.5rem 0;
}

.about .width85 h2 {
    font-size  : 36px;
    font-weight: 600;
    position   : relative;
}

.about .width85 h2::after {
    content         : "";
    background-color: var(--greenish);
    height          : 2px;
    width           : 6%;
    position        : absolute;
    bottom          : -10;
    left            : 50%;
    transform       : translateX(-50%);
}

.about .width85 footer {
    margin: 30px 0px;
}


.about-text {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    padding        : 4rem 0;
}

.about-text article {
    width     : 60%;
    text-align: left;
    line-height: 1.6;
}

.about-text article h3 {
    font-size  : 28px;
    font-weight: 600;
}

.about-text aside {
    width          : 30%;
    display        : flex;
    flex-direction : column;
    align-items    : flex-start;
    justify-content: space-between;
}

.about-text aside ul li {
    padding: 15px 0px;
}

.about-text aside ul li a {
    color: var(--greenish);
}

.about-text aside button {
    background-color: var(--greenish);
    border-radius   : 25px;
}

.about-stats {
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    color          : #6c757d;
}

.about-stats h3 {
    font-size: 48px;
    margin   : 5px 0px;
}

/* about section end */